{%extends "MyProfile/MyProfileMaster.html" %}
{%block content%}
<div class="jumbotron" id="title"></div>

<div class="navbar" id="HomeNav" role="navigation">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="#home" class="smoothScroll">Home</a></li>
		<li><a href="#about" class="smoothScroll">About Me</a></li>
		<li><a href="#experience" class="smoothScroll">Experiences</a></li>
		<li><a href="#quotes" class="smoothScroll">My Art</a></li>
		<li><a href="#contact" class="smoothScroll">Contact</a></li>
	</ul>
</div>
<div class="jumbotron" id="profile">
	<div class="row">
		<div class="col1 col-md-5 col-sm-5">
			<img class="profileImage" src="../static/personal/css/images/profile2.jpg">
		</div>
		<div class="col-md-7 col-sm-7" id ="intro">
			<h1>Hello!</h1>
			<p>Welcome to my website. Explore my work !!!</p>			
		</div>
	</div>
</div>

{%endblock%}
