<!DOCTYPE html>
<html lang="en">

<head>
	<title>Dharmang Solanki</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE-Edge">
	<meta name ="viewport" content="width=device-width, initial-scale=1">
	{% load staticfiles %}
	<link rel="stylesheet" href = "../../../static/personal/css/bootstrap.min.css">
	<link rel="stylesheet" href = "../../../static/personal/css/CustomCSS/home.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700" rel="stylesheet">
</head>

<body class="body" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">
<div class="jumbotron" id="title"></div>
<div class="jumbotron" id="profile">
	<div class="row">
		<div class="col-md-6 col-sm-6">
			<img class="profileImage" src="../static/personal/css/CustomCSS/images/profile2.jpg">
		</div>
		<div class="col-md-6 col-sm-6">

		</div>
	</div>
</div>
	<div class="collapse navbar-fixed-top custom-navbar" role="navigation">
			 <ul class="nav navbar-nav navbar-right" id = "NavBar" onclick="getNavbarItem()">
						<li><a href="/home/" class="smoothScroll">Home</a></li>
						<li><a href="#education" class="smoothScroll">Education</a></li>
						<li><a href="/aboutMe/" class="smoothScroll">About Me</a></li>
						<li><a href="/myAcademics/" class="smoothScroll">Experiences</a></li>
						<li><a href="/contact/" class="smoothScroll">Contact</a></li>
			 </ul>
	</div>
	<section class="parallax-section" >
	{%block content%}
	
	{% endblock %}
	</section>
	<script>
		function getNavbarItem() {
		  var x = document.getElementsByTagName("H1")[0].getAttribute("class"); 
		  document.getElementById("demo").innerHTML = x;
		  var x = document.getElementsByTagName("ul")[0]
		}
		</script>
</body>
</html>